# SET()
- Unordered collection -Elements in a set have no specific order.
- Duplicate values are automatically removed.
- You can add or remove elements are immutable.
- Represented Using {} and separated  by ", "

In [2]:
a = {13,6,2005}
print(a)
print(type(a))

{13, 2005, 6}
<class 'set'>

In [4]:
names = {"meghana","nithisha","neelima",}
print(names)
print(type(names))

{'meghana', 'neelima', 'nithisha'}
<class 'set'>

# - we can convert a list into a set using the set () function.

In [6]:
a = set([1,2,3,4,5,6])
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

- duplicates are automatically removed in the set

In [10]:
a = {1,2,3,1,2,3,4,5,1,2,4}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

Set Methods:
1. add ():
-Adds an element to the set

In [12]:
a = {1,2,3,4,5,6,7}
a. add(8)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
fruits ={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'apple', 'orange', 'banana'}

remove()
- removes the specified element.
- raises an error if not found.

In [14]:
a = {1,2,4,3,5,6,7,8}
a.remove (3)
print(a)

{1, 2, 4, 5, 6, 7, 8}

update()
- used to add multiple elements from another set,list,tuple,or any literable to an existing set.

In [15]:
a = {1,2,3,4,5,}
b = {6,7,8,9,10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

clear()
- used to remove all elements

In [16]:
a.clear()
print(a)

set()

# set operators

1.union
- the union () method combines two or more sets
- returning a new set with all unique elements

In [17]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
# union of 'a' and 'b'

In [19]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

2 . intersection():
 - returns a new set containing only the commom elements of two or more sets
 - the result contains only unique elements that exists in all sets

In [20]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a.intersection(b)

{4, 5}

In [21]:
# intersection of 'a' and 'b'

In [22]:
a&b

{4, 5}

In [23]:
# difference ("b-a")

In [24]:
a ={1,2,3,4,5}
b ={4,5,6,7,8}
b-a

{6, 7, 8}

symmetric_difference()
- returns a new set containing elements that are in either set A or set B, but not in both
- you can use the caret ^ operator

In [25]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}
result = a.symmetric_difference(b)
print(result)

{1, 2, 6, 7}

In [26]:
a^b

{1, 2, 6, 7}